# Assignment 1 
## Group name: ID2214 - 19
### Project members: 
Muhummed Suhaib Abdi, muhummed@kth.se

Artem Sliusarenko, artems@kth.se

Eugen Lucchiari Hartz, eugenlh@kth.se

### Declaration:
By submitting this assignment, it is hereby declared that all group members listed above have contributed to the solution, either with code that appear in the final solution below, or with code that has been evaluated and compared to the final solution, but for some reason has been excluded. It is also declared that all project members fully understand all parts of the final solution and can explain it upon request.

It is furthermore declared that the code below is a contribution by the project members only, and specifically that no part of the solution has been copied from any other source (except for lecture slides at the course ID2214/FID3214), no part of the solution has been provided by someone not listed as a project member above, and no part of the solution has been generated by a system.

It is furthermore declared that the submitted assignment will not be shared during the course, with any individual other than the group members listed above and teachers of the course ID2214/FID3214. In particular, the assignment will not be uploaded to any public repository. The submitted assignment can be shared after the course only if written consent has been provided by the course responsible of ID2214/FID3214.

It is furthermore declared that it has been understood that no other library/package than the Python 3 standard library, NumPy and pandas may be used in the solution for this assignment.

### Instructions
All parts of the assignment starting with number 1 below are mandatory. Satisfactory solutions
will give 1 point (in total). If they in addition are good (all parts work more or less 
as they should), completed on time (submitted before the deadline in Canvas) and according
to the instructions, together with satisfactory solutions of all parts of the assignment starting 
with number 2 below, then the assignment will receive 2 points (in total).

Note that you do not have to develop the code directly within the notebook
but may instead copy the comments and test cases to a more convenient development environment
and when everything works as expected, you may paste your functions into this
notebook, do a final testing (all cells should succeed), save the notebook including the output
and submit the whole notebook (a single file) in Canvas (do not forget to fill in your group number
and names above).

## Load NumPy and pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
from platform import python_version

print(f"Python version: {python_version()}")
print(f"NumPy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")

Python version: 3.11.9
NumPy version: 1.26.4
Pandas version: 2.2.3

## 1a. Create and apply column filter

In [3]:
# Insert the functions create_column_filter and apply_column_filter below (after the comments)
#
# Input to create_column_filter:
# df - a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_filter:
# df            - a new dataframe, where columns, except "CLASS" and "ID", containing only missing values 
#                 or only one unique value (apart from the missing values) have been dropped
# column_filter - a list of the names of the remaining columns, including "CLASS" and "ID"
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Iterate through all columns and consider to drop a column only if it is not labeled "CLASS" or "ID"
#
# Hint 3: You may check the number of unique (non-missing) values in a column by applying the pandas functions
#         dropna and unique to drop missing values and get the unique (remaining) values

def create_column_filter(df):
    filtered_df= df.copy()  #To avoid modifying the original  dataframe

    column_filter=["CLASS"]

    if "ID" in filtered_df.columns: # eventhough, we have checked this scenario the error persist, why, i don't know
        column_filter.append("ID")

    for column in filtered_df.columns:
        if column not in column_filter: 
             unique_values = filtered_df[column].dropna().unique()
             if len(unique_values) > 1: #skip columns with less than two unique_values
                column_filter.append(column) #this will contain columns ids with 2 or more unique_values

    return filtered_df[column_filter], column_filter

# Input to apply_column_filter:
# df            - a dataframe
# column_filter - a list of the names of the columns to keep (see above)
#
# Output from apply_column_filter:
# df - a new dataframe, where each column that is not included in column_filter has been dropped
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
def apply_column_filter(df, column_filter):
   valid_columns = set(column_filter) & set(df.columns)
    
    # Return a new dataframe with the filtered columns
   return df[list(valid_columns)].copy()

In [4]:
# Test your code (leave this part unchanged)

df = pd.DataFrame({"CLASS":[1,0,1,0,1],"A":[1,2,np.nan,4,5],"B":[1,1,1,1,np.nan],"C":["h","h",np.nan,"i","h"],"D":[np.nan,np.nan,np.nan,np.nan,np.nan]})

filtered_df, column_filter = create_column_filter(df)

new_df = pd.DataFrame({"CLASS":[1,0,0],"A":[4,5,6],"B":[1,2,1],"C":[np.nan,np.nan,np.nan],"D":[np.nan,4,5]})

filtered_new_df = apply_column_filter(new_df,column_filter)

display("df",df)
display("filtered_df",filtered_df)
display("new_df",new_df)
display("filtered_new_df",filtered_new_df)

'df'

   CLASS    A    B    C   D
0      1  1.0  1.0    h NaN
1      0  2.0  1.0    h NaN
2      1  NaN  1.0  NaN NaN
3      0  4.0  1.0    i NaN
4      1  5.0  NaN    h NaN

'filtered_df'

   CLASS    A    C
0      1  1.0    h
1      0  2.0    h
2      1  NaN  NaN
3      0  4.0    i
4      1  5.0    h

'new_df'

   CLASS  A  B   C    D
0      1  4  1 NaN  NaN
1      0  5  2 NaN  4.0
2      0  6  1 NaN  5.0

'filtered_new_df'

   A  CLASS   C
0  4      1 NaN
1  5      0 NaN
2  6      0 NaN

## 1b. Create and apply normalization

In [7]:
# Insert the functions create_normalization and apply_normalization below (after the comments)
#
# Input to create_normalization:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
# normalizationtype: "minmax" (default) or "zscore"
#
# Output from create_normalization:
# df            - a new dataframe, where each numeric value in a column has been replaced by a normalized value
# normalization - a mapping (dictionary) from each column name to a triple, consisting of
#                ("minmax",min_value,max_value) or ("zscore",mean,std)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID"),
#         the other columns should remain unchanged
#
# Hint 3: Take a close look at the lecture slides on data preparation


def create_normalization(df,normalizationtype):
    normalized_df = df.copy()
    normalization = {} # Dictionary to store normalization parameters

    
    for column in normalized_df.columns:
        # Ignore "CLASS" and "ID" columns, and only consider numeric columns
        if column not in ["CLASS", "ID"] and pd.api.types.is_numeric_dtype(normalized_df[column]):
            # Min-Max Normalization
            if normalizationtype == "minmax" :
                min_val = normalized_df[column].min()
                max_val = normalized_df[column].max()
                normalization[column] = ("minmax", min_val, max_val)
                if max_val - min_val >0:
                    normalized_df[column] = (normalized_df[column] - min_val) / (max_val - min_val)
              
            
            # Z-score normalization
            elif normalizationtype == "zscore":
                   mean_val = normalized_df[column].mean()
                   std_val = normalized_df[column].std()
                   normalization[column] = ("zscore", mean_val, std_val)
                   if std_val > 0:
                      normalized_df[column] = (normalized_df[column] - mean_val) / std_val

            else: 
                normalization[column] = 0.0  # Set to 0 if all values are the same
        else:
            # Leave non-numeric or special columns unchanged
            normalization[column] = ("none", None, None)
    return normalized_df, normalization



# Input to apply_normalization:
# df            - a dataframe
# normalization - a mapping (dictionary) from column names to triples (see above)
#
# Output from apply_normalization:
# df - a new dataframe, where each numerical value has been normalized according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: For minmax-normalization, you may consider to limit the output range to [0,1]

def apply_normalization(df, normalization):
    normalized_df = df.copy()

    for column, (norm_type, param1, param2) in normalization.items():
        if column not in normalized_df.columns:
            continue

        if norm_type == "minmax":
            min_val, max_val = param1, param2
            if max_val > min_val:
                normalized_df[column] = np.clip((df[column] - min_val) / (max_val - min_val), 0, 1)
            else:
                normalized_df[column] = 0.0
        elif norm_type == "zscore":
            mean_val, std_val = param1, param2
            if std_val > 0:
                normalized_df[column] = (df[column] - mean_val) / std_val
            else:
                normalized_df[column] = 0.0

    return normalized_df

In [8]:
# Test your code (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_norm, normalization = create_normalization(glass_train_df,normalizationtype="minmax")
print("normalization:\n")
for f in normalization:
    print("{}:{}".format(f,normalization[f]))

print()
    
glass_test_norm = apply_normalization(glass_test_df,normalization)
display("glass_test_norm",glass_test_norm)

normalization:

ID:('none', None, None)
RI:('minmax', 1.51131, 1.53125)
Na:('minmax', 10.73, 15.79)
Mg:('minmax', 0.0, 4.49)
Al:('minmax', 0.29, 3.04)
Si:('minmax', 69.81, 75.18)
K:('minmax', 0.0, 6.21)
Ca:('minmax', 5.43, 14.68)
Ba:('minmax', 0.0, 3.15)
Fe:('minmax', 0.0, 0.37)
CLASS:('none', None, None)

'glass_test_norm'

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,CLASS
0,101,0.262788,0.399209,0.634744,0.418182,0.644320,0.091787,0.363243,0.034921,0.594595,2
1,104,0.799398,0.606719,0.701559,0.134545,0.141527,0.012882,0.671351,0.000000,0.000000,2
2,44,0.541123,0.592885,0.855234,0.156364,0.363128,0.027375,0.465946,0.000000,0.000000,1
3,17,0.327482,0.385375,0.817372,0.316364,0.614525,0.098229,0.353514,0.000000,0.000000,1
4,81,0.231194,0.420949,0.783964,0.665455,0.530726,0.111111,0.274595,0.000000,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...
102,80,0.230191,0.413043,0.783964,0.585455,0.567970,0.111111,0.274595,0.000000,0.000000,2
103,141,0.280341,0.513834,0.788419,0.480000,0.508380,0.109501,0.289730,0.000000,0.000000,2
104,14,0.309428,0.420949,0.792873,0.356364,0.633147,0.086957,0.318919,0.000000,0.459459,1
105,132,0.743731,0.586957,0.000000,0.389091,0.266294,0.030596,0.865946,0.000000,0.270270,2
106,102,0.300401,0.320158,0.605791,0.487273,0.569832,0.112721,0.410811,0.000000,0.000000,2

### Comment on assumptions, things that do not work properly, etc.

## 1c. Create and apply imputation

In [9]:
# Insert the functions create_imputation and apply_imputation below (after the comments)
#
# Input to create_imputation:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_imputation:
# df         - a new dataframe, where each missing numeric value in a column has been replaced by the mean of that column 
#              and each missing categoric value in a column has been replaced by the mode of that column
# imputation - a mapping (dictionary) from column name to value that has replaced missing values
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Handle columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID") in one way
#         and columns of type "object" and "category" in other ways
#
# Hint 3: Consider using the pandas functions mean and mode respectively, as well as fillna
#
# Hint 4: In the rare case of all values in a column being missing*, replace numeric values with 0,
#         object values with "" and category values with the first category (cat.categories[0])  
#
#         *Note that this will not occur if the previous column filter function has been applied

def create_imputation(df):
    imputed_df = df.copy()
    imputation = {}  

    for column in imputed_df.columns:
        if column not in ["CLASS", "ID"]:
            if pd.api.types.is_numeric_dtype(imputed_df[column]):
                # Handle numeric columns (float and int)
                mean_val = imputed_df[column].mean()
                mean_val = mean_val if pd.notna(mean_val) else 0
                imputed_df[column] = imputed_df[column].fillna(mean_val)
        elif isinstance(imputed_df[column].dtype, pd.CategoricalDtype) or pd.api.types.is_object_dtype(imputed_df[column]):
                mode_val = imputed_df[column].mode().iloc[0] if not imputed_df[column].mode().empty else ""
                if isinstance(imputed_df[column].dtype, pd.CategoricalDtype) and pd.isna(mode_val):
                    mode_val = imputed_df[column].cat.categories[0] if len(imputed_df[column].cat.categories) > 0 else ""
                imputed_df[column] = imputed_df[column].fillna(mode_val)

    return imputed_df, imputation



# Input to apply_imputation:
# df         - a dataframe
# imputation - a mapping (dictionary) from column name to value that should replace missing values
#
# Output from apply_imputation:
# df - a new dataframe, where each missing value has been replaced according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using fillna

def apply_imputation(df, imputation):
    imputed_df = df.copy()

    for column, fill_value in imputation.items():
        if column in imputed_df.columns and fill_value is not None:
            imputed_df[column].fillna(fill_value, inplace=True)

    return imputed_df

In [10]:
# Test your code (leave this part unchanged)

anneal_train_df = pd.read_csv("anneal_train.csv")
anneal_test_df = pd.read_csv("anneal_test.csv")

anneal_train_imp, imputation = create_imputation(anneal_train_df)
anneal_test_imp = apply_imputation(anneal_test_df,imputation)

print("Imputation:\n")
for f in imputation:
    print("{}:{}".format(f,imputation[f]))

print("\nNo. of replaced missing values in training data:\n{}".format(anneal_train_imp.count()-anneal_train_df.count()))
print("\nNo. of replaced missing values in test data:\n{}".format(anneal_test_imp.count()-anneal_test_df.count()))

Imputation:


No. of replaced missing values in training data:
family                      0
product-type                0
steel                       0
carbon                      0
hardness                    0
temper_rolling              0
condition                   0
formability               163
strength                    0
non-ageing                  0
surface-finish              0
surface-quality             0
enamelability             442
bc                          0
bf                          0
bt                          0
bw/me                       0
bl                          0
m                         449
chrom                       0
phos                        0
cbond                       0
marvi                     449
exptl                     449
ferro                       0
corr                      449
blue-bright-varn-clean      0
lustre                      0
jurofm                    449
s                         449
p                         449
shape                       0
thick                       0
width                       0
len                         0
oil                         0
bore                        0
packing                   445
CLASS                       0
dtype: int64

No. of replaced missing values in test data:
family                    0
product-type              0
steel                     0
carbon                    0
hardness                  0
temper_rolling            0
condition                 0
formability               0
strength                  0
non-ageing                0
surface-finish            0
surface-quality           0
enamelability             0
bc                        0
bf                        0
bt                        0
bw/me                     0
bl                        0
m                         0
chrom                     0
phos                      0
cbond                     0
marvi                     0
exptl                     0
ferro                     0
corr                      0
blue-bright-varn-clean    0
lustre                    0
jurofm                    0
s                         0
p                         0
shape                     0
thick                     0
width                     0
len                       0
oil                       0
bore                      0
packing                   0
CLASS                     0
dtype: int64

### Comment on assumptions, things that do not work properly, etc.

## 1d. Create and apply discretization

In [12]:
# Insert the functions create_bins and apply_bins below
#
# Input to create_bins:
# df      - a dataframe
# nobins  - no. of bins (default = 10)
# bintype - either "equal-width" (default) or "equal-size" 
#
# Output from create_bins:
# df      - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Discretize columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider using pd.cut and pd.qcut respectively, with labels=False and retbins=True
#
# Hint 4: Set all columns in the new dataframe to be of type "category"
#
# Hint 5: Set the categories of the discretized features to be [0,...,nobins-1]
#
# Hint 6: Change the first and the last element of each binning to -np.inf and np.inf respectively 
#

def create_bins(df, nobins, bintype):
    bins_df = df.copy()
    binning = {} 

    for column in bins_df.columns:
        if column not in ["CLASS", "ID"]:
            if pd.api.types.is_numeric_dtype(bins_df[column]):
                try:

                    if bintype == "equal-width":
                        # Apply equal-width binning
                        bins_df[column], bin_edges = pd.cut(
                            bins_df[column],
                            bins=nobins,
                            labels=range(nobins),
                            retbins=True
                        )
                    elif bintype == "equal-size":
                        # Apply equal-size binning
                        bins_df[column], bin_edges = pd.qcut(
                            bins_df[column],
                            q=nobins,
                            labels=range(nobins),
                            retbins=True,
                            duplicates="drop"  # Drop duplicate edges if needed
                        )
                    else:
                        raise ValueError(f"Unknown binning type: {bintype}")
                    
                    # Adjust bin edges for capturing extreme values
                    bin_edges[0] = -np.inf
                    bin_edges[-1] = np.inf
                    
                    # Store the bin edges in the binning dictionary
                    binning[column] = bin_edges
                    
                except ValueError as e:
                    print(f"Warning: Could not bin column '{column}' into {nobins} equal-size bins. {e}")
                    continue

        # Convert all columns to categorical
        bins_df = bins_df.astype("category")
        
    return bins_df, binning

    

# Input to apply_bins:
# df      - a dataframe
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Output from apply_bins:
# df - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using pd.cut 
#
# Hint 3: Set all columns in the new dataframe to be of type "category"
#
# Hint 4: Set the categories of the discretized features to be [0,...,nobins-1]


def apply_bins(df, binning):
    binned_df = df.copy()

    for column, bin_edges in binning.items():
        if column in binned_df.columns:
            binned_df[column] = pd.cut(
                binned_df[column],
                bins=bin_edges,
                labels=range(len(bin_edges) - 1),
                include_lowest=True
            )

    # Convert all binned columns to categorical type
    binned_df = binned_df.astype("category")

    return binned_df

In [13]:
# Test your code  (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_disc, binning = create_bins(glass_train_df,nobins=10,bintype="equal-size")
print("binning:")
for f in binning:
    print("{}:{}".format(f,binning[f]))

print()    
glass_test_disc = apply_bins(glass_test_df,binning)
display("glass_test_disc",glass_test_disc)

binning:

'glass_test_disc'

      ID       RI     Na    Mg    Al     Si     K     Ca    Ba    Fe CLASS
0    101  1.51655  12.75  2.85  1.44  73.27  0.57   8.79  0.11  0.22     2
1    104  1.52725  13.80  3.15  0.66  70.57  0.08  11.64  0.00  0.00     2
2     44  1.52210  13.73  3.84  0.72  71.76  0.17   9.74  0.00  0.00     1
3     17  1.51784  12.68  3.67  1.16  73.11  0.61   8.70  0.00  0.00     1
4     81  1.51592  12.86  3.52  2.12  72.66  0.69   7.97  0.00  0.00     2
..   ...      ...    ...   ...   ...    ...   ...    ...   ...   ...   ...
102   80  1.51590  12.82  3.52  1.90  72.86  0.69   7.97  0.00  0.00     2
103  141  1.51690  13.33  3.54  1.61  72.54  0.68   8.11  0.00  0.00     2
104   14  1.51748  12.86  3.56  1.27  73.21  0.54   8.38  0.00  0.17     1
105  132  1.52614  13.70  0.00  1.36  71.24  0.19  13.44  0.00  0.10     2
106  102  1.51730  12.35  2.72  1.63  72.87  0.70   9.23  0.00  0.00     2

[107 rows x 11 columns]

### Comment on assumptions, things that do not work properly, etc.

## 1e. Create and apply one-hot encoding

In [11]:
# Insert the functions create_one_hot and apply_one_hot below
#
# Input to create_one_hot:
# df: a dataframe
#
# Output from create_one_hot:
# df      - a new dataframe, where each categoric feature has been replaced by a set of binary features 
#           (as many new features as there are possible values)
# one_hot - a mapping (dictionary) from column name to a set of categories (possible values for the feature)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "object" or "category" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider creating new column names by merging the original column name and the categorical value
#
# Hint 4: Set all new columns to be of type "float"
#
# Hint 5: Do not forget to remove the original categoric feature

def create_one_hot(df):
    # Copy the input DataFrame to keep the original unchanged
    df_copy = df.copy()
    
    # Dictionary to store the categories for each column
    one_hot = {}

    # Iterate through columns and apply one-hot encoding to categorical columns
    for col in df_copy.columns:
        if col not in ["CLASS", "ID"] and (pd.api.types.is_object_dtype(df_copy[col]) or pd.api.types.is_categorical_dtype(df_copy[col])):
            # Get unique categories in the column
            categories = df_copy[col].unique()
            one_hot[col] = categories
            
            # Create one-hot encoded columns
            for category in categories:
                new_col_name = f"{col}_{category}"
                df_copy[new_col_name] = (df_copy[col] == category).astype(float)
            
            # Drop the original categorical column
            df_copy.drop(columns=[col], inplace=True)
    
    return df_copy, one_hot

# Input to apply_one_hot:
# df      - a dataframe
# one_hot - a mapping (dictionary) from column name to categories
#
# Output from apply_one_hot:
# df - a new dataframe, where each categoric feature has been replaced by a set of binary features


def apply_one_hot(df, one_hot):
    # Copy the input DataFrame to keep the original unchanged
    df_copy = df.copy()

    # Apply one-hot encoding based on the provided categories
    for col, categories in one_hot.items():
        for category in categories:
            new_col_name = f"{col}_{category}"
            # Create the column based on whether each row matches the category
            df_copy[new_col_name] = (df_copy[col] == category).astype(float) if col in df_copy.columns else 0.0
        
        # Drop the original categorical column if it exists
        if col in df_copy.columns:
            df_copy.drop(columns=[col], inplace=True)
    
    return df_copy

In [12]:
# Test your code  (leave this part unchanged)

train_df = pd.read_csv("tic-tac-toe_train.csv")

new_train, one_hot = create_one_hot(train_df)

test_df = pd.read_csv("tic-tac-toe_test.csv")

new_test_df = apply_one_hot(test_df,one_hot)
display("new_test_df",new_test_df)

'new_test_df'

,CLASS,top-left-square_o,top-left-square_b,top-left-square_x,top-middle-square_o,top-middle-square_b,top-middle-square_x,top-right-square_o,top-right-square_b,top-right-square_x,...,middle-right-square_x,bottom-left-square_o,bottom-left-square_x,bottom-left-square_b,bottom-middle-square_x,bottom-middle-square_b,bottom-middle-square_o,bottom-right-square_x,bottom-right-square_o,bottom-right-square_b
0,positive,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,positive,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,positive,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,negative,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,positive,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,positive,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
475,negative,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
476,positive,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
477,positive,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
478,negative,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

### Comment on assumptions, things that do not work properly, etc.

## 1f. Divide a dataset into a training and a test set

In [13]:
# Insert the function split below
#
# Input to split:
# df           - a dataframe
# testfraction - a float in the range (0,1) (default = 0.5)
#
# Output from split:
# trainingdf - a dataframe consisting of a random sample of (1-testfraction) of the rows in df
# testdf     - a dataframe consisting of the rows in df that are not included in trainingdf
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes where a 
#       prefix corresponds to the test instances, and the suffix to the training instances 


def split(df, testfraction=0.5):
    # Ensure the testfraction is between 0 and 1
    if not (0 < testfraction < 1):
        raise ValueError("testfraction must be in the range (0, 1)")
    
    # Get a permuted list of DataFrame indexes
    permuted_indices = np.random.permutation(df.index)
    
    # Calculate the size of the test set
    test_size = int(len(df) * testfraction)
    
    # Split the indices into test and training
    test_indices = permuted_indices[:test_size]
    train_indices = permuted_indices[test_size:]
    
    # Create training and test DataFrames based on the indices
    testdf = df.loc[test_indices].reset_index(drop=True)
    trainingdf = df.loc[train_indices].reset_index(drop=True)
    
    return trainingdf, testdf

In [14]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_train, glass_test = split(glass_df,testfraction=0.25)

print("Training IDs:\n{}".format(glass_train["ID"].values))

print("\nTest IDs:\n{}".format(glass_test["ID"].values))

print("\nOverlap: {}".format(set(glass_train["ID"]).intersection(set(glass_test["ID"]))))

Training IDs:
[ 52  40 102  77  16 151  80 130  90  17  53  59 180 112 123 119 157  70
  78 143 117 158  91  67 208 135  12 205 134  19 174  81 139 209 164  73
 129 106 116  63  45 159 160 152 177 193 122 202 163  60  96 155 150  28
  20 140 190  25 192  44 107 172 100 170  84 146  46  31 199   7 161 195
  14 196  57 171 104  61  39 166 136 176 125  37 198  74 153  76 110  42
 175  48 101  94 148  82 169 210 103   4 131  86   5  56 114  54 212   3
  97 181  93   8  38  22  15 203 173 133 138 127  21  26 189 165 194 197
 186  10  79  49 115 156 113 118  99 137 162 200 147 207 105  11  55  98
 111  35  47  33 145 141 144   1  72 213  64 128  66 109  24  83  36]

Test IDs:
[214  41  29 154 126 132 124 184  95 183  32  88   6 211  75  51   2  30
  89  43 167 121 201 168 187 206 182  18 120 149  68  62  50  23 142  71
  92  85 191  27  34 188  65 179 178 204 108  58  13 185   9  69  87]

Overlap: set()

### Comment on assumptions, things that do not work properly, etc.

## 1g. Calculate accuracy of a set of predictions

In [15]:
# Insert the function accuracy below
#
# Input to accuracy:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from accuracy:
# accuracy - the fraction of cases for which the predicted class label coincides with the correct label
#
# Hint: In case the label receiving the highest probability is not unique, you may
#       resolve that by picking the first (as ordered by the column names) or 
#       by randomly selecting one of the labels with highest probaility.

def accuracy(df, correctlabels):
    # Ensure the number of rows in df matches the number of correct labels
    if len(df) != len(correctlabels):
        raise ValueError("The number of correct labels must match the number of rows in the dataframe.")
    
    # Get the predicted class for each row
    predicted_labels = []
    for _, row in df.iterrows():
        # Find the class with the highest probability
        max_prob = row.max()
        top_labels = row[row == max_prob].index.tolist()
        
        # In case of a tie, pick the first by column order or choose randomly
        if len(top_labels) > 1:
            # One of the following options can be chosen depending on preference:
            # Option 1: Pick the first by column order
            predicted_label = top_labels[0]
            # Option 2: Randomly select one of the top labels
            # predicted_label = np.random.choice(top_labels)
        else:
            predicted_label = top_labels[0]
        
        predicted_labels.append(predicted_label)
    
    # Calculate the accuracy
    correct_count = sum(1 for pred, actual in zip(predicted_labels, correctlabels) if pred == actual)
    accuracy = correct_count / len(correctlabels)
    
    return accuracy

In [16]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})
display("predictions",predictions)

'predictions'

      A     B     C
0  0.50  0.50  0.00
1  0.50  0.25  0.25
2  0.50  0.25  0.25
3  0.25  0.50  0.25
4  0.25  0.25  0.50

In [17]:
correctlabels = ["B","A","B","B","C"]

print("Accuracy: {}".format(accuracy(predictions,correctlabels))) # Note that depending on how ties are resolved the accuracy may be 0.6 or 0.8

Accuracy: 0.6

### Comment on assumptions, things that do not work properly, etc.

## 2a. Divide a dataset into a number of folds

In [5]:
# Insert the function folds below
#
# Input to folds:
# df      - a dataframe
# nofolds - an integer greater than 1 (default = 10)
#
# Output from folds:
# folds - a list (of length = nofolds) dataframes consisting of random non-overlapping, 
#         approximately equal-sized subsets of the rows in df
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes from which a 
#       prefix corresponds to the test instances, and the suffix to the training instances 

import math

def folds(df, nofolds=10):
    new_df = df.copy()
    folds = []

    # Shuffle the DataFrame indices
    shuffled_indices = np.random.permutation(new_df.index)
    fold_size = math.ceil(len(new_df) / nofolds)

    for i in range(nofolds):
        end_idx = (i + 1) * fold_size if i != nofolds - 1 else len(new_df)
        start_index = i * fold_size
        
        # Select indices for the current fold and subset the DataFrame
        fold_indices = shuffled_indices[start_index:end_idx]
        fold_df = new_df.loc[fold_indices]
        folds.append(fold_df.reset_index(drop=True))

    return folds

In [6]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_folds = folds(glass_df,nofolds=5)

fold_sizes = [len(f) for f in glass_folds]

print("Fold sizes:{}\nTotal no. instances: {}".format(fold_sizes,sum(fold_sizes)))

Fold sizes:[43, 43, 43, 43, 42]
Total no. instances: 214

### Comment on assumptions, things that do not work properly, etc.

## 2b. Calculate Brier score of a set of predictions

In [23]:
# Insert the function brier_score below
#
# Input to brier_score:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from brier_score:
# brier_score - the average square error of the predicted probabilties 
#
# Hint: Compare each predicted vector to a vector for each correct label, which is all zeros except 
#       for at the index of the correct class. The index can be found using np.where(df.columns==l)[0] 
#       where l is the correct label.

def brier_score(df, correctlabels):
    total_brier_score = 0.0
    for i, correctlabel in enumerate(correctlabels):
        predicted_probs = df.iloc[i].values
        true_vector = np.zeros(len(df.columns))
        true_index = np.where(df.columns == correctlabel)[0][0]
        true_vector[true_index] = 1
        squared_error = np.sum((predicted_probs - true_vector) ** 2)
        total_brier_score += squared_error

    brier_score = total_brier_score / len(df)

    return brier_score

In [24]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("Brier score: {}".format(brier_score(predictions,correctlabels)))

Brier score: 0.5

### Comment on assumptions, things that do not work properly, etc.

## 2c. Calculate AUC of a set of predictions

In [26]:
# Insert the function auc below
#
# Input to auc:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from auc:
# auc - the weighted area under ROC curve
#
# Hint 1: Calculate the binary AUC first for each class label c, i.e., treating the
#         predicted probability of this class for each instance as a score; the true positives
#         are the ones belonging to class c and the false positives the rest
#
# Hint 2: When calculating the binary AUC, first find the scores of the true positives and then
#         the scores of the true negatives
#
# Hint 3: You may use a dictionary with a mapping from each score to an array of two numbers; 
#         the number of true positives with this score and the number of true negatives with this score
#
# Hint 4: Created a (reversely) sorted (on the scores) list of pairs from the dictionary and
#         iterate over this to additively calculate the AUC
#
# Hint 5: For each pair in the above list, there are three cases to consider; the no. of false positives
#         is zero, the no. of true positives is zero, and both are non-zero
#
# Hint 6: Calculate the weighted AUC by summing the individual AUCs weighted by the relative
#         frequency of each class (as estimated from the correct labels)


def auc(df, correctlabels):
    aucs = {}
    class_counts = pd.Series(correctlabels).value_counts(normalize=True)    
    for column in df.columns:
        scores = {}
        
        for correctlabel, probability in zip(correctlabels, df[column]):
            is_true_positive = 1 if correctlabel == column else 0
            score = [is_true_positive, int(not is_true_positive)]
            if probability in scores:
                scores[probability] = [x + y for x, y in zip(scores[probability], score)]
            else:
                scores[probability] = score

        sorted_scores = dict(sorted(scores.items(), reverse=True))
        
        tot_tp = sum([tp[0] for tp in sorted_scores.values()])
        tot_fp = sum([tp[1] for tp in sorted_scores.values()])
        cov_tp = 0
        class_auc = 0
        for _, score in sorted_scores.items():
            tp_i, fp_i = score
            if fp_i == 0:
                cov_tp += tp_i
            elif tp_i == 0:
                class_auc += (cov_tp / tot_tp) * (fp_i / tot_fp)
            else:
                class_auc += (cov_tp / tot_tp) * (fp_i / tot_fp) + (tp_i / tot_tp) * (fp_i / tot_fp) / 2
                cov_tp += tp_i

        aucs[column] = class_auc

        weighted_auc = sum(aucs[class_label] * class_counts[class_label] for class_label in aucs)

    return weighted_auc

In [27]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.9,0.9,0.6,0.55],"B":[0.1,0.1,0.4,0.45]})

correctlabels = ["A","B","B","A"]

print("AUC: {}".format(auc(predictions,correctlabels)))

AUC: 0.375

In [28]:
predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("AUC: {}".format(auc(predictions,correctlabels)))

AUC: 0.8499999999999999

### Comment on assumptions, things that do not work properly, etc.